{% extends 'layout.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            Вы&nbsp;вошли&nbsp;как<br/>
            <span style="font-size: 24px;">{{ user.first_name }}&nbsp;{{ user.last_name }}</span><br/>
            {% if user.age > 0 %}возраст:&nbsp;{{ user.age }}<br/>{% endif %}
            {% if user.gender %}пол:&nbsp;{{ user.get_gender_display }}<br/>{% endif %}
            <a href="{% url 'logout' %}">Выйти</a>
        </div>
    {% else %}
        <a href="{% url 'social:begin' "vk-oauth2" %}" class="vk sn-logo">Authorize by vk</a><br />
        <a href="{% url 'social:begin' "facebook" %}" class="fb sn-logo">Authorize by facebook</a>
    {% endif %}
{% endblock content %}